*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(245, 243, 243);
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 16px;
   
}
header{
    margin-top: 80px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
   
}
.navbar .container .logo{
    font-weight: 700px;
    font-size: 25px;
}
.navbar .container ul{
    align-items: center;
    margin-top: 8px;
}
.navbar .container ul li{
    list-style-type: none;
    display: inline;
    padding: 10px;
   

}
.navbar .container ul li a{
    text-decoration: none;
    color: #3a3a3a;
    font-size:16px;
   font-weight: 200;
    margin: 0 0.6rem;
    padding: 0.75rem;
    transition: 0.5s;
}
.navbar .container ul li a:hover{
    color: firebrick;
}
.hero_banner{
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero_banner .container{
   display: flex;
   justify-content: space-between;
}
.hero_banner .banner_text h1{
    font-size: 52px;
    font-weight: 70px;
    color: darkslategrey;
    line-height: 1.5;
}
.hero_banner .banner_text p{
    margin: 1.75rem 0;
    color: dimgray;
    
}
.btn{
    text-decoration: none;
    border-radius: 41px;
    border:none;
    color: black;
    background-color: rgb(128 157 194);
    padding: 10px 25px;
    font-size: 16px;
    transition: 0.1s;

}
.btn:hover{
    background-color: darkslategrey;
    color: #fff;
}
.banner_photo{
    background-image: url(img/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    flex: 1;
   
}
.banner_photo img{
    width: 70%;
    display: block;
    margin: auto;
    transition: 0.2s;
  

}
.banner_photo img:hover{
    width: 80%;
}
.company .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: D60px 3%;
    border-top: 2px solid #b1afaf40;
    border-bottom: 2px solid #b1afaf40;
   
}
.company_logo img{
    width: 150px;
   
}
.company{
    padding-bottom: 3px;
}
.product_container h1{
    text-align: center;
    font-size: 28px;
    line-height: 74px;
    color: #3a3a3a;
    font-weight: 700;
}

.product_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
}
.all_product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-content: center;
    margin: 30px 0px;
}
.all_product .product{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;;
}
.product_picture img{
    width: 100%;
}
.product-nam{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    margin: 16px 0;
}
.cost{
    font-size: 24px;
    font-weight: 500;
}
.product .fas{
    color: darkgreen;
}

.our_blog h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 100px;
}

.our_blog .container .blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    gap: 50px;
    padding: 20px;
    margin: 20px;
}
.our_blog .container .blog .img .pic{
    width: 100%;
    flex: 1;
}
.our_blog .container .blog h2{
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
}
.our_blog .container .blog p{
    text-align:justify ;
}
.our_blog .container .blog a{
    text-decoration: none;
  
}
.btn{
    background: #e02c6d;
    color: #fff;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 700px;
    line-height: 24px;
    transition: 0.5s;
    margin-top: 20px;
}
p{
    margin: 1.75rem 0;
}
footer{
    background: #0a0826;
    padding: 50px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social_icon{
    display: inline-flex;
    
}
.social_icon li a{
    list-style-type: none;
}